doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body(style="text-align: center")
        table(style="margin: 0 auto")
            tr 
                td(style="text-align: center; font-weight: bold")
                    h1 Witaj na blogu, #{username}!
            tr 
                td(style="text-align: center;")
                    p Twój token aktywacyjny: #{token}